# Tiatnic_experiment

We are gonna start with importing libraries

In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier    #decision tree classification
from sklearn.ensemble import RandomForestClassifier    #random forest (more than 1 decision tree)
from sklearn.ensemble import ExtraTreesClassifier  
from sklearn.model_selection import train_test_split    #spliting data for test and train part
from sklearn.metrics import accuracy_score    #measuring model accuracy

Read the data

In [3]:
path = "input_data/train.csv"

df = pd.read_csv(path)
df.sample(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
525,526,0,3,"Farrell, Mr. James",male,40.5,0,0,367232,7.750,NaN,Q
470,471,0,3,"Keefe, Mr. Arthur",male,NaN,0,0,323592,7.250,NaN,S
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.0,0,0,14973,8.050,NaN,S
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.475,C83,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.850,NaN,S
668,669,0,3,"Cook, Mr. Jacob",male,43.0,0,0,A/5 3536,8.050,NaN,S
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.000,NaN,S

# Lets have some fun! 

Do you remember how to "download" the project form github?

 $ git clone https://github.com/

The most important git command is.....       $ git status

# Lets prepare data

In [4]:
feats = ['Pclass']    #list of features
X = df[feats].values    # matrix of single element list which is "class"
y = df['Survived'].values    # answer => isAlive

Spliting data into a test and training set using sklearn lib

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)    # test size is 30%

In [6]:
#how much data do we have?

X_train.shape, X_test.shape

((623, 1), (268, 1))

# And now we are gonna build our model

In [7]:
dec_tree_model = DecisionTreeClassifier(max_depth=10)

#finally fitting model
dec_tree_model.fit(X_train, y_train)
y_pred = dec_tree_model.predict(X_test)

dec_tree_score = accuracy_score(y_test, y_pred)    # comparing right answer and our prediction answer
print("Score: %.2f" % dec_tree_score)

Score: 0.65

# 64,5%.. Very impressive, but...

Can we improve our model..?



Ofcourse we can! Lets add moore parameters

In our case, sex is very important parameter. But we have "male" and "female", how to use it?
We need to factolize them to one and zero

In [8]:
df['Sex_categorical'] = df['Sex'].factorize()[0]
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_categorical
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0
834,835,0,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,0
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C,1
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,NaN,S,0
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,1
652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.0,0,0,8475,8.4333,NaN,S,0
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S,0
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,0
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,G6,S,1
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S,0

In [9]:
feats = ['Pclass', 'Sex_categorical']
X = df[feats].values    # matrix of elements list which is "class"
y = df['Survived'].values    # answer => isAlive

In [12]:
more_features_model = DecisionTreeClassifier(max_depth=10)

#spritting data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)    # test size is 30%


#fitting model
more_features_model.fit(X_train, y_train)
y_pred = more_features_model.predict(X_test)

more_features_score = accuracy_score(y_test, y_pred)    # comparing right answer and our prediction answer
print("Score: %.2f" % more_features_score)

Score: 0.78

# Pretty nice! 78% 

Lets try another algorythm

In [13]:
extra_trees_model = ExtraTreesClassifier(max_depth=10, n_estimators=20, n_jobs=15)

#splitting data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)    # test size is 30%


#fitting model
extra_trees_model.fit(X_train, y_train)
y_pred = extra_trees_model.predict(X_test)

extra_trees_score = accuracy_score(y_test, y_pred)    # comparing right answer and our prediction answer
print("Score: %.2f" % extra_trees_score)

Score: 0.79

# Actually.. Nothing change..  Maybe we should try feature engineering?

# But this is subject for another time..!